*{
    box-sizing: border-box;
}
.selection{
  background-size: cover;
    background-image: url(https://baogiaothong.mediacdn.vn/upload/2-2022/images/2022-04-18/1-1650247268-869-width740height555.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}
.box{
    display: inline-block;
    width: 260px;
    color: #ffff;
    border-right:1px solid white ;
    padding right: 15px ;
}